.App {
    font-family: 'Optima'
  }
  
  .navbar-logo {
    font-family: 'Century Gothic';
    font-size: 2.3em;
    font-weight: bold;
  }
  
  .navbar-link {
    font-family: 'Optima';
    font-size:  1.2em;
    font-weight: bold;
  }
  
  /* HOME PAGE */
  .home {
    background-image: url(./wallpapers.jpeg);
    opacity: 1.0;
    background:linear-gradient(45deg, gray-light 100%, transparent 90%);
    background-position: center;
    height: 30vh;
  }
  
  .home-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home-logo {
    font-family: 'Century Gothic';
    font-size: 5em;
    font-weight: bold;
    color: #247703;
    padding-bottom: 0px;
    text-align: center;
  }
  
  .home-subheader {
    font-family: 'Century Gothic';
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    color: rgb(102, 2, 2);
    padding-bottom: 0px;
  }
  
  .btn {
    width: 400px;
    position: absolute;
  }
  
  
  .about {
    background-image: url(./wallpaper.jpg);
    background-position: center;
    height: 50vh;
  }
  
  .about-title {
    font-family: 'Century Gothic';
    font-size: 5em;
    font-weight: bold;
    color: #030000;
    margin-bottom: 25px;
    padding-bottom: 130px;
    position: relative;
    position: fixed;
    bottom: 0; 
    width:100%;
    text-align: center;
  }
  
  .about-information {
    font-size: 2em;
    text-align: center;
    color: rgb(14, 6, 6);
    padding-bottom: 70px;
    position: relative;
    position: fixed;
    bottom: 0; 
    width:100%; 
    text-align: center
  }

  .gallery-card {
    width: 300px;
    padding: 15px;
    border: 1px solid #0c3d59;
    background-color: white;
  }
  .galleries {
    width: 90%;
    margin: auto;
  }

  .pieces-input {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-weight: bold;
    color: #094566;
  }

  

  

  

  
  
  
  
 